.container-fluid {
    padding-top: 70px !important;
}
.portfolio-ctn{
    padding-top: 70px !important;
}
.portfo-link{
    color: blue;
}
.portfo-link:hover{
    color: black;
}
.hr{
    border-top: 1px solid black;
}